<?xml version="1.0"?>

<model>
  <name>Quadcopter control</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Issei Kuzumaki</name>
  </author>

  <maintainer email="kuzumaki-issei-sk@ynu.jp">Kuzumaki Issei</maintainer>


  <description>
	Iris quadcopter
    add LiftDragPlugin
    add QuadcopterWorldPlugin
  </description>
  <depend>
    <model>
      <uri>model://xquad_demo</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
